.imageCodeBox {
  display: flex;
  :global(.ant-form-item) {
    width: 160px;
  }
  .imageCodePic {
    width: 160px;
    height: 40px;
    margin-left: 8px;
    background-color: #fff;
    img {
      width: 100%;
      height: 40px;
    }
  }
  .imageCodeLoading {
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top:0;
      left:0;
      bottom: 0;
      right: 0;
      background-color: rgba(255,255,255,.6);
      background-image: url(../../assets/loading.gif);
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center center;
    }
  }
}